*{
    margin: 0;
    padding: 0;
}
:root{
    --cor_primaria: black;
    --cor_secundaria: rgb(108, 202, 231);
}
body{
    background-color: var(--cor_primaria);
    color: var(--cor_secundaria);
}